<a href="https://colab.research.google.com/github/Tarleton-Math/data-science-20-21/blob/master/data_science_20_21_notes_09_15_partial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Intro to Supervised Learning
## One-Hot Encoding, Cross-Validation, and k-Nearest Neighbors
## Class Notes 2020-09-15
## Data Science (masters)
## Math 5364 & 5366, Fall 20 & Spring 21
## Tarleton State University
## Dr. Scott Cook

# Setup

We need to update Numpy and Pandas to take advantage of [Numpy's recently improved random number generatation](https://numpy.org/devdocs/reference/random/index.html).  Click "Restart Runtime" when complete.

In [ ]:
! pip install --upgrade numpy
! pip install --upgrade pandas

Requirement already up-to-date: numpy in /usr/local/lib/python3.6/dist-packages (1.19.2)
Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine
data = load_wine()
n, p = data.data.shape
print(data.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

First, we shuffle the rows.  Often, datasets come sorted.  This means the top n rows are probably statistically different from the bottom n rows.  When we split the dataset, this can accidentally introduce bias.  To prevent this, we shuffle the dataset immediately.

In [ ]:
# fill in - watch video from 9/15

     alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0      12.36        3.83  2.38  ...  0.56                          1.58    520.0
1      11.45        2.40  2.42  ...  0.80                          3.39    625.0
2      14.06        2.15  2.61  ...  1.06                          3.58   1295.0
3      12.60        2.46  2.20  ...  0.73                          1.58    695.0
4      13.05        1.73  2.04  ...  1.12                          2.91   1150.0
..       ...         ...   ...  ...   ...                           ...      ...
173    14.38        1.87  2.38  ...  1.20                          3.00   1547.0
174    13.36        2.56  2.35  ...  0.70                          2.47    780.0
175    13.28        1.64  2.84  ...  1.09                          2.78    880.0
176    12.29        1.41  1.98  ...  1.23                          2.74    428.0
177    12.25        4.72  2.54  ...  0.75                          1.27    720.0

[178 rows x 13 columns]

array([2, 1, 0, 2, 0, 0, 2, 1, 0, 2, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 2, 1, 2, 0, 1, 2, 2, 1, 0, 1, 1, 2, 1, 1, 2, 2, 2, 2, 0,
       0, 0, 1, 0, 1, 1, 0, 2, 1, 1, 0, 2, 2, 2, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 2, 2, 0, 2, 1, 0, 2, 0, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 0,
       1, 2, 1, 2, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0, 1, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 0, 2, 1, 0, 2, 0, 2, 0, 1, 1, 2, 0, 0, 0, 2,
       0, 0, 0, 0, 1, 0, 0, 1, 2, 2, 0, 1, 0, 0, 2, 1, 0, 1, 2, 0, 2, 0,
       1, 2])

We frequently convert a categorical variable $X$ into boolean variables as follows:

def: If $X$ is a categorical variable with levels $0,1,\dots,l$, its *one-hot-encoding/dummy variables/indicator variables* are $l+1$ boolean variables $B_0, B_1, \dots, B_{l}$ where: $$B_{ij}=1 \mbox{ if } X_i=j$$ $$B_{ij}=0 \mbox{ if } X_i\neq j$$

Sklearn has convenience commands such as [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) and its [friends](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing), but let's write it ourselves this time.  Admittedly, sklearn's version has a lot more options.

In [ ]:
def my_one_hot_encoder(X):
    # fill in - watch video from 9/15

targ = my_one_hot_encoder(targets)
targ_names = targ.columns
feat_names = feat.columns
targ

     0_ind  1_ind  2_ind
0    False  False   True
1    False   True  False
2     True  False  False
3    False  False   True
4     True  False  False
..     ...    ...    ...
173   True  False  False
174  False  False   True
175   True  False  False
176  False   True  False
177  False  False   True

[178 rows x 3 columns]

# Cross-Validation Methods

- $k$-fold - Divide into $k$ equal pieces (as close as possible) called *folds*.  Loop through the folds, using 1 fold for validation and remainder for training.
    - Deterministic
    - $k$ cv cycles
    - Each row used for validation exactly once
    - Special Case: Called *leave-one-out* if $k$=$n$; note each fold contains 1 row.
- Delete-$d$ - Select $n-d$ rows *WITHOUT* replacement for training and remaining for validation.
    - Random
    - Arbitrary number of cv cycles
        - could loop determininstically through all $n \choose d$ subsets of size $d$, but that's typically VERY big
    - Row used for validation a variable number of times
- Bootstrap - Select $n$ rows *WITH* replacement  for training and any rows never selected for validation.
    - Random
    - Arbitrary number of cv cycles
    - A row may be selected multiple times for the training set
    - Average size of validation set $= e^{-1}n\approx 0.368n$ and training set $=(1-e^{-1})n \approx 0.632n$.
        - Why?  To be in validation set, row must never be chosen.
        - Prob chosen during any single selection is $\frac{1}{n}$ and prob not chosen is $1-\frac{1}{n}$.
        - So prob not chosen on any of $n$ selections is $\left(1-\frac{1}{n}\right)^n$.
        - Calc 2 (L'Hopitals Rule) $\displaystyle \lim_{n \to \infty} \left(1+\frac{a}{n}\right)^n = e^a$
        - Let $a=-1$ to see prob not selection on any of $n$ selections $\to e^{-1}$.
        - So, expected size of validation set $\to e^{-1}n$

Now we need to split our holdout set and modeling set.  Again, sklearn offers convenience commands like [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html#sklearn.model_selection.train_test_split) and its [friends](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.model_selection), but we'd like to write our own.

In [ ]:
def make_split(df, train_idx):
    # fill in - watch video from 9/17

def k_folds_cv(df, num_folds, which_fold=0):
    # fill in - watch video from 9/17
    return make_split(df, train_idx)

def delete_d_cv(df, d=1):
    # fill in - hwk04
    return make_split(df, train_idx)

def bootstrap_cv(df):
    # fill in - hwk04
    return make_split(df, train_idx)

df = feat
df[targ.columns] = targ
df['class'] = targets
df_holdout, df_model = delete_d_cv(df, int(n/10))

# k-Nearest Neighbors

$k$-Nearest Neighbors is our first supervised learning technique.  Though there are variants for other situations, the most basic version applies when the features are continuous and the target(s) catgorical.  Thus, the basic knn is a *classifier*.

Basic idea: For each row in the validation set, we predict its target class by finding the $k$ training rows which are closest (\*) wrt the features.  These get to "vote" on the predicted class for that validation row.

def: The vector containing the vote proportions for each class is called *predict_proba* (must sum to 1).  The class with the highest vote proportion is the *prediction*.

There are many improvements to this basic algorithm, including allowing weights on the votes (usually closer neighbors' votes get more weight).  See [scikit-learn's version](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html).

(\*)
def: The *$l^p$* distance between two vectors $\vec{x}$ and $\vec{y}$ is $\displaystyle \left(\sum_i |x_i-y_i|^p \right)^{1/p}$
- $p=2$ is the standard Euclidean distance

In [ ]:
def my_knn(feat_valid, feat_train, targ_train, n_neighbors=4, p=2):
    # v, d = feat_valid.shape
    # t, d = feat_train.shape
    # t, q = targ_train.shape
    # p = 2 denotes Euclidean distance

    k = n_neighbors-1  # because n_neighbors neighbors will be in slots 0,1,...,n_neighbors-1
    DX = # fill in - hwk04  # DX.shape=(v,t,q), DX[a,b,c] = feat_valid[a,c] - feat_train[b,c]
    D = # fill in - hwk04  # D.shape=(v,t,1), D[a,b,:] = L^p distance from feat_valid[a] to feat_train[b]
    D, targ_train = np.broadcast_arrays(D, targ_train)  # broadcast so D.shape from (v,t,1)→(v,t,q) & targ_train.shape from (t,q)→(v,t,q)
    E = np.partition(D, k, axis=1)  # E.shape=(v,t,q); performs partial sort so that E[a,k,:] = distance between feat_valid[a] and its kth closest train neighbor
    D_cutoff = E[:,[k],:]  # D_cutoff.shape=(v,1,q); D_cutoff[a,:,:] = distance between feat_valid[a] and its kth closest train neighbor

    weight = # fill in - hwk04  # weight.shape=(v,t,q), weight[a,b,:]=1 if D[a,b,:] <= D_cutoff[a] & 0 otherwise
    votes = # fill in - hwk04  # vote.shape=(v,t,q), vote[a,b,c]=targ_train[:,b,c]*weight[a,b,:]
    votes_sum = # fill in - hwk04  # votes_sum.shape=(v,q), votes_sum[a,c]=sum of votes for valid[a] to be class c
    s = # fill in - hwk04  #s.shape=(v,1), s[a,:]=sum of votes for valid[a]
    predict_proba = # fill in - hwk04  # predict_proba.shape=(v,q), predict_proba[a,c]=proportion of votes for valid[a] to be class c
    predict = # fill in - hwk04  # predict.shape=(v), predict[a]=class with most votes for valid[a]
    return predict, predict_proba

In [ ]:
from sklearn.neighbors import KNeighborsClassifier as sk_knn

num_folds = 5
n_neighbors = 4
sk_clf = sk_knn(n_neighbors)
for f in range(num_folds):
    valid, train = k_folds_cv(df_model, num_folds, f)
    X_valid, X_train, Y_train = valid[feat_names].to_numpy(), train[feat_names].to_numpy(), train[targ_names].to_numpy()
    
    my_predict, my_predict_proba = my_knn(X_valid, X_train, Y_train, n_neighbors)

    sk_clf.fit(X_train, train['class'])
    sk_predict = sk_clf.predict(X_valid)
    sk_predict_proba = sk_clf.predict_proba(X_valid)
    residual = ((sk_predict_proba - my_predict_proba)**2).sum()
    print(residual)

0.0
0.0
0.0
0.0
0.0